
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-size: cover;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #00000070;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav li{
    
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 10px 30px;
}
nav a:hover{
    animation-name: color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes color{
    100%{
        background-color: #dc143c;
    }
}
.about{
    background-image: url(images/background.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    position: relative;
    z-index: 1;
    left: 100%;
    background-color: #00000070;
    border-radius: 5px 0 5px 0;
    margin-bottom: 40px;
    color:#ffffff;
    padding: 10px 40px;
}
@keyframes motion-in {

    100%{
        left: 0;
    }
    
}
@keyframes motion-out {

    100%{
        left: 0;
    }
    
}
.info h1{
    font-size: 40px;
}
.info h2{
    float: right;
    font-family:cursive;
    font-weight: lighter;
    color: #ff0033;
    
}
.info div{
    overflow: auto;
    border-bottom: 1px solid #ffffff;
}
.button a{
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px 5px #00000050;
    text-decoration: none;
    color: white;
    background-color:#dc143c;
    border-radius: 5px 0px 5px 0;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
    
.button a:hover{
    animation-name: button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes button{
    100%{
     background-color: #ff0033;
    }
}
.work{
    border-top: 3px solid #dc143c;
    text-align: center;
    width: 100%;
}
.project{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dc143c;
    width: 100%;
}
.items{
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}
.items img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.item-button-1{
    position: absolute;
    left: 35px;
    top: 50px;
}
.item-button-2{
    position: absolute;
    left: 35px;
    top: 100px;
}
.item-button-1,.item-button-2{
    display: none;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    background-color: #00000080;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
}
.item-button-1{
    padding: 10px 23.5px;
}
.items:hover .item-button-1{
    display: inline;
}
.items:hover .item-button-2{
    display: inline;
}
.items:hover .item-img{
    opacity: 0.5;
}
.item-button-1:hover{
    animation-name: item-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.item-button-2:hover{
    animation-name: item-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes item-color {
    100%{
        background-color: black;
    }
    
}
.project-button a{
    font-weight: normal;
    box-shadow: 0px 0px 5px 5px #00000050;
    text-decoration: none;
    color: white;
    background-color:#dc143c;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.project-button{
    margin-top: 40px;
    margin-bottom: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #dc143c;
    width: 60%;
    margin: 0 auto;
}
.container h1{
    text-decoration:underline;
    color: white;
    border-bottom: 3px solid #00000060;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: cursive ,Arial, Helvetica, sans-serif ;
    margin-top: 40px;
    margin-bottom: 20px;
}
.project-button a:hover{
    animation-name: button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.contact{
    text-align: center;
}
.contact div{
    border-top: 3px solid #dc143c;
}
.contact img{
    margin-bottom: 100px;
    margin-top: 100px;
    margin-right: 40px;
}
.contact img {
    transition: transform .7s ease-in-out;
  }
.contact  img:hover {
    transform: rotate(360deg);
  }
  footer{
      border-top: 3px solid #dc143c;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  .copyright{
      margin-top: 40px;
      text-align: center;
      background-color: #b12340;
      width: 700px;
      border-radius: 10px 10px 0 0;
  }
  .copyright p{
      padding: 10px 10px;
      
      color: #00000080;
  }
  .copyright div{
      padding-bottom: 10px;
  }
  .copyright a{
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      margin-right: 10px;
      color: black;
  }
  .copyright a:hover{
      color: white;
  }